.bg-celeste {
  background-color: #e3f2fe !important;
}

.caja {
  box-shadow: 0px 10px 10px black;
}

.cita-carta {
  width: 400px !important;
  border-radius: 10px !important;
}

.circulo {
  background: lightblue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
